.containeronly{

	margin: 10%;
}

.image{
    background-image:  
      url("../../assets/images/social-media_resize_md.jpg");    
      position: fixed; 
      top: 0; 
      left: 0; 
    
      /* Preserve aspet ratio */
      min-width: 100%;
      min-height: 100%;

  
}
.help-block{
  color:red;
}
